.matter-cards {
    width: 90%;
    padding: 0;
    background-color: transparent;
}


.matter-card {
    position: relative;
    width: 400px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
    -webkit-transition: box-shadow 0.4s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.4s;
    cursor: pointer;

    /*height: 250px; // TMP*/
}

.matter-card:hover { box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.4); }

.matter-card-title {
    font-size: 15px;
    font-weight: bold;
}

.matter-card-content {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 150%;
    color: #111;
}

.matter-card-index {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    color: #777;
}

.matter-card-buttons {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.matter-card-button {
    float: right;
    opacity: 0.6;
}


.matter-card-hover-effect {
    opacity: 0;
    -webkit-transition: opacity 0.4s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.4s;
}

.matter-card:hover .matter-card-hover-effect { opacity: 1; }

.matter-memo {
    background-color: #CED6DC;
}

/*Card colors*/
.matter-default { background-color: #fafafa; }
.matter-approved { background-color: #B6FF8A; }
.matter-rejected { background-color: #FF8076; }
.matter-hold { background-color: #F3FF82; }
