div.member-item {
  margin-left: 5%;
  margin-right: 5%;
}
div.member-item:active {
  margin-bottom: 10px;
}
div.member-accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 14px;
    padding-left: 5%;
    border-color: #dedede;
    border: 0px;
    border-style: ridge;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}
div.member-title {
    background-color: #ffffff;
    color: #444;
    padding: 18px;
    padding-left: 5%;
    border-color: #eee;
    border: 0px;
    border-style: ridge;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
}

div.member-accordion.active {
  background-color: #f1f1f1;
  margin-top: 10px;
}
div.member-accordion:hover {
    background-color: #f1f1f1;
}

div.member-panel {
    padding: 0 24px;
    background-color: #f1f1f1;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table.memberTable {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

table.memberTable th, td {
  text-align: left;
  padding: 12px;
}

table.memberTable tr {
  border-bottom: 1px solid #ddd;
}

table.memberTable tr.header, table.memberTable tr:hover {
  background-color: #f1f1f1;
}
span.member-name {
  font-size: 18px;
  margin-left: 5%;
}
span.member-title {
  font-size: 24px;
  margin-left: 5%;
}
button.member-delete {
  border: none;
  color: white;
  padding: 10px 22px;
  margin: 12px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  background-color: #f44336;
}
button.member-delete:hover{
  background: #da190b;
}
button.member-edit {
  border: none;
  color: white;
  padding: 10px 28px;
  margin: 12px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  background-color: #ff9800;
}
button.member-edit:hover{
  background: #e68a00;
}

.test-margin{
  margin-bottom: 10px;
}
