#logo { opacity: 1; }

/*Navbar base*/
.navbar {
    width        : 100%;
    margin       : 0px;
    overflow     : hidden;
    position     : sticky;
    top          : 0;
    height       : 56px;
    padding      : 10px;
    padding-right: 15px;
    box-shadow   : 0 4px 8px 0 rgba(0,0,0,0.3);
    z-index      : 5;
    color: white;
}

.navbar > *  { margin-left: 10px; margin-right: 10px; }
.navbar a    { font-size: 22px; }
.navbar a, .navbar i{ margin-top: 2px; }


/* Search Bar */
#search-bar {
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 80px;
}

#search-bar input{
    width: 100%;
    border: 0px;
    border-radius: 3px;
    background-color: rgba(200, 200, 255, 0.2);
    color: white;
    font-size: 16px;
    font-style: bold;
    background-image: url('../material/image/search.png');
    background-position: 24px 6px;
    background-repeat: no-repeat;
    padding: 9px 20px 9px 70px;
}

#search-bar input:hover{ background-color: rgba(220, 220, 255, 0.3); }
#search-bar input::-webkit-input-placeholder { color: white; }
.navbar .dropdown-content { margin-right: 25px; margin-top: 46px;}
