* {
   box-sizing: border-box;
 }

.btn-group button {
    color: #4CAF50; /* White text */
    margin-right: 1%;
    padding: 5px 5px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    transition: 0.3s;
    border: none;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


/* Add a background color on hover */
.btn-group button:hover {
    background-color: black;
}
