* {
   box-sizing: border-box;
 }

.row::after {
  content: "";
  clear: both;
  display: table;
}

body{
    background-color: #111;
  }


.vertical-menu {
   width: 100%;
   float: left;
  }

.vertical-menu a {
  color:  #818181;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}

.vertical-menu a:hover {
  background-color: #e6e6e6;
  color: #74344b;
}

.vertical-menu a.active {
  color: #4d4d4d;
  background-color: #f2f2f2;
}

.line{
  border-top: 2px solid #ffffff;
}
