* {
  box-sizing: border-box;
}
table{
  font-family: arial,sans-serif;
  border: solid black 1px;
  border-radius: 5px;
  -moz-border-radius:6px;
  border-collapse: seperate;
  width: 100%;
}
td, th{
  border: 1px solid #000000;
  text-align: left;
  padding: 2%;
}
tr:nth-child(even){
  background-color: #d8c7c7;
}
tr:nth-child(odd){
  background-color: #ffffff;
}
td{
  font-size: 80%
}
#myInput {
    background-image: url('search.png');
    background-color: #ccf2ff;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header{
    background-color: #2b3e74;
}

#myTable tr:hover {
    background-color: #a3c5a3;
}

/*The button to go to the page creating minutes, matters*/
.w3-circle{
  color: #2b3e74;
  position:fixed;
  border: none;
  top: 90%;
  left: 95%;
  z-index: 3000;
  background-color: transparent;
}
.w3-circle{
  font-size: 36px;
}
.w3-circle :hover{
  color: #a3c5a3;
}
