* {
   box-sizing: border-box;
 }

.row::after {
  content: "";
  clear: both;
  display: table;
}

.left-vertical-menu {
   width: 100%;
   float: left;
  }

.left-vertical-menu a {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}
