/*The button to go to the page creating minutes, matters*/
.material-icons.md-48 { font-size: 48px; }

.circle{
  position:fixed;
  border: none;
  top: 88%;
  left: 93%;
  z-index: 3000;
  transition: 0.5s;
  cursor: pointer;
  font-size: 200px;
}
.circle{
  font-size: 36px;
}
