/* Color pallette */

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #F2F2F2; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.h-light-text-color    { color: #000000;}
