* {
   box-sizing: border-box;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

[class*="col-"] {
   float: left;
   padding: 15px;
}

.col-1 {width: 33.33%;
}

.col-2 {width: 66.66%;
}

.number-side, .status-side{
  width: 50%;
  float: left;
  padding:20px;
}

body{
  background-color: #f2f2f2;
}

[class*="card"] {
   color: #ffffff;
   height: 100%;
}

.card1{
  background-color:  #99c2ff;
}

.card2{
  background-color:  #ffc14d;

}
.card3{
  background-color: #65e765;
}

.notification-card, .meeting-card{
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 2px;
}

  .notification-card:hover, .meeting-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

<!--header in meeting details and notification cards-->
.header{
  background-color: #e6e6e6;
  color: #333333;
  padding: 2px;
}

<!--vertical content of notification card-->
.vertical-menu {
    overflow-y: auto;
}

.vertical-menu a {
    color: black;
    display: block;
    padding: 9px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #e6e6e6;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
