* {
   box-sizing: border-box;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

[class*="col-"] {
   float: left;
   padding: 15px;
}

.col-1 {
  width: 33.33%;
}

.col-2 {
  width: 66.66%;
}

.number-side, .status-side{
  width: 50%;
  float: left;
  padding:20px;
}

[class*="card"] {
   height: 100%;
}

.notification-card, .meeting-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 2px;
}

  .notification-card:hover, .meeting-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/*header in meeting details and notification cards*/
.header{
  padding: 2px;
}

/*vertical content of notification card*/
.vertical-menu {
    overflow-y: auto;
}

.vertical-menu a {
    display: block;
    padding: 9px;
    text-decoration: none;
}
