* {
   box-sizing: border-box;
 }

.material-icons.md { font-size: 28px; }

.change{
  margin-right: 1%;
  padding: 5px 5px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: right; /* Float the buttons side by side */
  border: none;
}
.change:after {
    content: "";
    clear: both;
    display: table;
}
