#noti_Button {
      width:25px;
      height:25px;
      line-height:28px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      margin:15px 25px 15px 15px;
      cursor:pointer;
  }

  #noti_Button:hover{
   -webkit-box-shadow: 0px 0px 0px 13px #1C66BA;
   -moz-box-shadow: 0px 0px 0px 13px #1C66BA;
   box-shadow: 0px 0px 0px 13px #1C66BA;
 	 border-radius:300px;
 }

  #noti_Container {
      position:relative;

  }

  /* THE RED NOTIFICATIONS COUNTER. */
  #noti_Counter {
      display:block;
      position:absolute;
      font-size:10px;
      font-weight:normal;
      padding:3px 4px;
      margin:10px 10px 30px 33px;
      border-radius:2px;
      -moz-border-radius:10px;
      -webkit-border-radius:2px;
      z-index:1;
  }

  /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
  #notifications {
      display:none;
      height:400px;
      width:300px;
      position:absolute;
      top:100%;
      left:-50px;

  }
  /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
  #notifications:before {
      content: '';
      display:block;
      width:0;
      height:0;
      color:transparent;
      margin-top:-20px;
      margin-left:68px;
  }

  h3 {
    display:block;
    font-weight:bold;
    font-size:13px;
    padding:8px;
    margin:0;
    }

p a{
  margin-left: 20px;
  display:block;
  font-weight:bold;
  font-size:10px;
  padding:8px;
  margin:0;
  text-align:left;
}

p a:hover {
    text-decoration:underline;
}

.seeAll {
    padding:8px;
    font-size:12px;
    font-weight:bold;
    text-align:center;
}
.seeAll a {}

.seeAll a:hover {
    text-decoration:underline;
}
