#myInput {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #61ABFF;
    border-radius: 4px;
    font-size: 16px;
    background-color: #61ABFF;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 10px 8px;
    margin-left: 20px;
		margin-top: 10px;
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#myInput:focus {
    background-color: #B0D5FF;
    border: 2px solid #B0D5FF;
}

#myInput:hover {
    background-color: #B0D5FF;
    border: 2px solid #B0D5FF;
}
