/* Side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: rgba(27, 30, 36, 1);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
  transition: margin-left .4s;
  margin-left: 65px;
}

@media screen and (max-height: 400px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Hovering Side Navigation */
.material-icons.md-28 { font-size: 28px; }

#hov-side-nav a {
    position: absolute;
    left: -185px;
    transition: 0.3s;
    padding: 20px;
    width: 200px;
    text-decoration: none;
    text-align: right;
    font-size: 28px;
    color: white;
}

#hov-side-nav a:hover {
    left: 0;
}

#hov-dashboard {
    top: 100px;
    background-color: rgba(27, 30, 36, 0.9);
    border-radius: 0 5px 0 0;
}

#hov-matters {
    top: 175px;
    background-color: rgba(27, 30, 36, 0.9);
}

#hov-minutes {
    top: 250px;
    background-color: rgba(27, 30, 36, 0.9);
}

#hov-members {
    top: 325px;
    background-color: rgba(27, 30, 36, 0.9);
}

#hov-help {
    top: 400px;
    background-color: rgba(27, 30, 36, 0.9);
    border-radius: 0 0 5px 0;
}
