* {
  box-sizing: border-box;
}
table{
  font-family: arial,sans-serif;
  border: solid black 1px;
  border-radius: 5px;
  -moz-border-radius:6px;
  border-collapse: seperate;
  width: 100%;
}
td{
  border: 1px solid #3C474D;
  text-align: left;
  padding: 2%;
}
th{
  border: 1px solid #3C474D;
  text-align: left;
  padding: 2%;
}

td{
  font-size: 80%;
}


#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 98%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}
