

a.top, span.menu {
    color: white;
}

.topnav {

  background-color: #268CFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  height: 65px;
  color: white;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.material-icons.top-buttons{
  padding: 10px;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  margin:5px 5px;
  float: right;
  border-radius: 50%;
}

.material-icons.menu{
  padding: 10px;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  margin:5px 5px;
  float: left;
  border-radius: 50%;
}

.logo{
  color: #f1f1f1;
  font-size: 40px;
  float: left;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

/* Style the navbar */
#topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

i.top-buttons:hover, .menu:hover {
    color: #f1f1f1;
    background-color: #1C66BA;
}

ul {
    display:block;
    list-style:none;
    margin:0;
    padding:20px 10px;
    height:40px;
}
ul li {
    float:right;
    font:5px helvetica;
    font-weight:bold;
    margin:8px 10px;
}
ul li a {

    text-decoration:none;
    padding:6px 5px;
    cursor:pointer;
}
ul li a:hover {
    text-decoration:none;
    cursor:pointer;
}

/* Page content */
.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
