body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-width:1000px;
}

a.top, span.menu {
    color: white;
}



.material-icons.top-buttons{
  padding: 10px;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  margin:5px 5px;
  float: right;
  border-radius: 50%;
}

.material-icons.menu{
  padding: 5px;
  font-size: 28px;
  text-align: center;
  text-decoration: none;
  margin:5px 5px;
  float: left;
  border-radius: 50%;
}

.logo{
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

i.top-buttons:hover, .menu:hover {
    color: #f1f1f1;
    background-color: #63686d;
}

#myInput {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #63686d;
    border-radius: 4px;
    font-size: 16px;
    background-color: #b4bac1;
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 10px 8px;
    margin-left: 20px ;
    padding: 10px 10px 10px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#myInput:focus {
    background-color: #fff;
}

#myInput:hover {
    background-color: #fff;
}



#main {
  transition: margin-left .4s;
  margin-left: 65px;
  max-width: 600px;
}


  ul {
      display:block;
      background:#1B1E24;
      list-style:none;
      margin:0;
      padding:20px 10px;
      height:40px;
  }
  ul li {
      float:right;
      font:30px helvetica;
      font-weight:bold;
      margin:8px 30px;
  }
  ul li a {
      color:#FFF;
      text-decoration:none;
      padding:6px 15px;
      cursor:pointer;
  }
  ul li a:hover {
      background:c;
      text-decoration:none;
      cursor:pointer;
  }

	

  .seeAll {
      background:#F6F7F8;
      padding:8px;
      font-size:12px;
      font-weight:bold;
      border-top:solid 1px rgba(100, 100, 100, .30);
      text-align:center;
  }
  .seeAll a {
      color:#3b5998;
  }
  .seeAll a:hover {
      background:#F6F7F8;
      color:#3b5998;
      text-decoration:underline;
  }

/* Style the navbar */
#topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
